

*{
font-family:verdana,arial;
}

body{
background:#000;
}


.footer{
color:#ddd;
text-align:center;
font-size:11px;
}
.footer a{
color:#ddd;

}

#intro{
	margin:auto;
	display:block;

	padding:20px;

	border:10px solid gray;

	color:#fff;

	cursor:hand;
}


#game{

display:none;

z-index:10;
margin:auto;

margin-top:40px;

width:600px;
height:400px;

background:#fff;

border:10px solid gray;
}

#inventory{
	margin:auto;

	margin-top:20px;

	width:600px;
	height:30px;

	background:#ddd;

	border:10px solid gray;

}

#bar{

display:block;
width:600px;
height:40px;

background:url('img/bar.svg.png') no-repeat;
}

#popup{
z-index:20;
display:none;
width:100%;
height:100%;
top:0px;
left:0px;
position:absolute;

}

.exit{
text-align:center;
}

.exit a{
color:#fff;
}

svg{
display:none;
}

#myCode{
background:#6fa094;
margin:auto;
width:190px;
height:320px;
border:10px solid #39585a;
padding:20px;

padding-top:0px;
}

#mycode input{
width:50px;
height:50px;

background:#39585a;
border:0px;

color:#fff;

margin-right:10px;
}
#myCode #myCodeTxt{
width:180px;
height:20px;
background:#000;

display:block;

padding:10px 0px;

font-size:20px;

text-align:center;

color:darkred;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close{
    text-decoration:none;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
